include ../mixins/flash-messages

doctype html
html
  head
    title
      if data && data.title
        = data.title
        |  - 
      | JSON Feed Viewer

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/main.css")
    
    script(src="/js/jquery-3.2.1.min.js")
    script(src="/js/bootstrap-3.3.7.min.js")

  body
    div
      | <div style="color: #712727; padding: 1em; margin: 0 auto 1em auto;  text-align: center; background-color: #ffcbcb; border-radius: 4px;border: 1px solid #e69696;" class="container"><b>Heads up</b>: this website will shut down on November 27th, 2022 as a result of Heroku free plans disappearing. 👋</div>
    .container
      include ../includes/header
      hr
      block content

    footer.footer
      hr
      .container.text-center
        p
          | 2017 &ndash; Made by 
          a(target="_blank" href="https://maximevaillancourt.com/en") Maxime Vaillancourt
          |  in Sherbrooke, Canada
        p
          a(target="_blank" href="https://github.com/maximevaillancourt/json-feed-viewer")
            | View the source code on GitHub
            i.fa.fa-external-link.fa-margin-left(aria-hidden="true")
