body{
  border-top:5px solid #18bc9c;
  padding-top:1.5em;
  overflow-x: hidden;
}

img {
  border-radius: 5px;
  max-width:100%;
}

footer{
  padding:20px 0;
}

.panel-showcase{
  color: #2c3e50;
}

.panel-featured-here{
  background: #18bc9c !important;
  color: white;
}

.alert a{
  color: white;
  text-decoration:underline;
}

/*--------------------------------------------------------------
  Taken from https://www.bootply.com/BM2lKItrFw
--------------------------------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box !important;
}

.row-showcase {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;
}

.item-showcase {
 display: inline-block;
 padding: .25rem;
 width: 100%; 
}
/*------------------------------------------------------------*/