mixin flash-messages(messages)
  if messages
    #flash-messages
      if messages.info
        each message in messages.info
          +flash-message(message, 'info')
      if messages.success
        each message in messages.success
          +flash-message(message, 'success')
      if messages.warning
        each message in messages.warning
          +flash-message(message, 'warning')
      if messages.error
        each message in messages.error
          +flash-message(message, 'danger')

mixin flash-message(message, type)
  div(class='alert alert-' + type)
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×
    = message